h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
div {
    padding: 0;
    margin: 0;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 4px 8px;
}

h1,
p {
    margin: 4px;
}

/* hr {
    margin: 16px 0;
} */

.mt1 {
    margin-top: 8px;
}
.mb1 {
    margin-bottom: 8px;
}
